<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <div id="app">

        <input type="text" v-model="keyword">
        <p>{{keyword}}</p>
        <button v-on:click="search()">提交</button>

        <p v-if="addresslist.length >0">
            {{addresslist}}
        </p>
        <ul>
            <li v-for="items in addresslist">
                {{items}}
            </li>
        </ul>
    </div>


    <script src="vue.min.js"></script>
    <script>
        
        new Vue({
            el:'#app',
            data:{
                keyword:'尚硅谷',
                addresslist:[]
            },
            methods: {
                search(){
                    console.log("seach")
                    this.addresslist = ['北京','上海','深圳']
                }
            }
        })
    </script>
</body>
</html>